/* color variables */
:root {
    --dark: rgb(0, 62, 65);
    --light: rgb(164, 226, 235);
    --lightColor: rgb(207, 236, 245);

}

.navbar {
    background-color: var(--lightColor);
    margin-bottom: 40px;
}

/* why no work */
.card {
    border: 3px solid white;
    background-color: violet;
    margin-bottom: 200px;
}

/* card styling and declare height */
.mycard {
    width: 100%;
    height: 220px;
}

.mycard img {
    border: 3px solid var(--dark);
}

/* hover effect */
.mycard:hover {
    opacity: .5;
}

/* fit image to full card */
#examples-grid img {
    height: 100%;
    width: 100%;
}
/* example tag positioning and styling */
.tag {
    position: relative;
    background-color: var(--light);
    color: var(--dark);
    float: left;
    bottom: 50%;
    padding: 3px;
}

/* overrides default text pointer when on the example tags */
#examples-grid h3:hover {
    cursor: pointer;
}

/* contact me list formatting */
#contact ul {
    list-style-type: none;
    display: flex;
    align-items: stretch; 
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    font-size: 22px;
}

/* reset default link styling */
#contact a {
    text-decoration: none;
    color: var(--dark);
    font-size: 24px;
}

/* hover effect */
#contact a:hover {
    border-bottom: 3px solid white;
    color: var(--light);
}

#contact {
    text-align: center;
}

.border-right {
    border-right: 2px solid var(--dark);
}

footer {
    background-color: var(--lightColor);
}

