/* color variables */
:root {
    --dark: rgb(0, 62, 65);
    --light: rgb(207, 236, 245);
}

.navbar {
    background-color: var(--light);
    margin-bottom: 40px;
}

.nav-link {
    color: black;

}

.navbar a:hover {
    border-bottom: 1px solid black;
}


/* hover effect */
.mycard:hover {
    opacity: .7;
    cursor: pointer;
}

/* contact me list formatting */
#contact ul {
    list-style-type: none;
    display: flex;
    align-items: stretch; 
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    font-size: 22px;
}

/* reset default link styling */
#contact a {
    text-decoration: none;
    color: var(--dark);
    font-size: 24px;
}

/* hover effect */
#contact a:hover {
    border-bottom: 3px solid white;
    color: var(--light);
}

#contact {
    text-align: center;
}

.border-right {
    border-right: 2px solid var(--dark);
}

footer {
    background-color: var(--light);
}

